* {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  line-height: 1.3;
}
:root {
  font-size: 14px;
}

body {
  padding: 1em;
  margin: 0 auto;
  background-color: aliceblue;
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
}

a {
  color: blue;
}


section, .note {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em .5em;
  background-color: #e2e2e2;
  box-shadow: 2px 2px 6px #3333;
  border: 1px solid silver;
  margin-right: 1rem;
  min-width: 100px;
}

.note {
  background-color: white;
  max-width: 600px;
  padding: 1em;
  padding-bottom: 10em;
}

.green {
  background-color: yellowgreen;
}

h1 {
  font-size: 1rem;
  margin-bottom: 1em;
  background-color: yellow;
}

h2 {
  margin-bottom: 1em;
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

p + h1, p + h2, p + h3 {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px dotted gray;
}

li {
  margin-left: 1.5em;
}

p + li {
  margin-top: -1em;
}

li + p {
  margin-top: 1em;
}
.synthkit {
  background-color: #222;
  color: silver;
}
.synthkit a {
  color: pink;
}