* { 
  box-sizing: border-box;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 14px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-color: aliceblue;
  display: block;
}


.osc-container {
  display: block;
  width: 300px;
  font-size: 1rem;
  padding: 0.5em .5em;
  background-color: #e2e2e2;
  border: 1px solid silver;
  margin-bottom: 0.5em;
  box-shadow: 2px 2px 6px #3333;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.param-container {
  margin-bottom: 2px;
}


@keyframes play {
  0% {
    outline-width: 0px;
    outline-offset: 0px;
    outline-color: #3334;
  }

  100% {
    outline-width: 10px;
    outline-offset: 10px;
    outline-color: #3330;
  }
}


.osc-container.playing {
  filter: saturate(200%);
  outline-style: solid;
  animation-name: play;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}

.player-button {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-size: 16px;
  background-image: url(play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2226;
}
.playing .player-button {
  background-image: url(stop.svg);
}

.param-slider {
  width: 120px;
  flex-grow: 0;
  flex-shrink: 0;
}

.param-label {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #2226;
  height: 20px;
  padding: 0 4px;
  margin-bottom: 0;
  width: 80px;
  color: #555;
}

.param-value {
  flex-grow: 2;
  margin-right: 2px;
  background-color: #2226;
  height: 20px;
  text-align: right;
  padding: 0 4px;
  margin-bottom: 0;
  color: #555;
}


input[type="range"] {
  -webkit-appearance: none;
  height: 20px;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #2226;
  height: 20px;
  width: 100%;
  border-radius: 100px;
}

input[type="range"]::-moz-range-track {
  background: #2226;
  height: 20px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 10px;
  border: none;
  border-radius: 0;
  background: black;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 10px;
  border: none;
  border-radius: 0;
  background: yellow;
  cursor: pointer;
}



.key-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-grow: 2;
  margin-left: 1em;
  height: 30px;
  margin-bottom: 1em;
}

.key {
  width: 15px;
  margin-right: 1px;
  border-radius: 15px;
  background-color: #fffa;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  color: #aaaf;
  padding-top: 1em;
  user-select: none;

}

.key.sharp {
  background-color: #2226;
  height: 25px;
}

.key.selected {
  background-color: yellow;
}